body{
	background-color: #ddd;
	background-size: cover;
	font-family:arial;
	
}
.container{
	width: 800px;
	margin: auto;
	background-color: #fff;
	padding: 20px;
}
.container h1{
font-family: 'Oswald', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Macondo Swash Caps', cursive;
}
.container p{
font-family: 'Oswald', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Macondo Swash Caps', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Asap', sans-serif;
}
.container i {
	color: green;
	font-size: 30px;
	width: 60px;
	height: 5px;
	text-align: center;
	line-height: 3em;
	background-color: blue;

}

