body{
	background-color: #ddd;
	background-image: url(../img/background.jpg);
	background-size: cover;
	font-family:arial;
	color: #222;
    background-position: center;
}
.login-cont{
	max-width: 400px;
	min-height:300px;
	margin:10px auto;
}
.login-cont h3{
	margin:0 0 10px 5px;
	
}
.login-cont form{
	background-color: rgb(255,255,255,0.4);
	box-shadow:0 3px 46px rgb(0,0,0,0.5); 
	padding: 30px;
	margin: 5px;
	border-radius: 10px;
	background-color: #fff;

}
.login-cont form ul {
	padding: 0px;
	margin:0px;
	
}
.login-cont  form ul li{
	padding: 0px;
	margin: 0px 0 10px 0px;
   list-style:none; 
}
.login-cont form ul li:last-child{
  margin: 0px;
}
.login-cont form label{
	display: block;
	padding-bottom: 5px;
	font-size: 12px;

}
.login-cont form input+label{
	display:inline; 
	padding-right:10px; 
}
.login-cont form input[type=text],.login-cont form input[type=email],.login-cont form input[type=email]{
	display: block;
	width: 328px;
	border:1px solid #ccc;
	height: 35px;
	text-indent:10px;
}
.login-cont form input[type=submit]{
     width:330px;
     background-color: #555;
     color: #fff;
     height: 40px;
     border: none;
     border-radius: 5px;

}